tickTime=2000
dataDir=/home/vagrant/.zookeeper
clientPort=2181
initLimit=5
syncLimit=2
{% for host in groups['zoos'] %}
server.{{loop.index}}={{ hostvars[host]['ansible_ssh_host'] }}:2888:3888
{% endfor %}
